/* Responsive gabungan */
/* Untuk Tablets */
@media all and (max-width: 1000px) {
    /* Rianda */
    .top-wrapper h1 {
        font-size: 32px;
    }

    .top-wrapper p {
        font-size: 16px;
    }

    .teks {
        margin-top: 250px;
        margin-bottom: 250px;
        margin-left: 20px;
    }
    /* Akhir Rianda */
    /* Odilla */
    .logo {
        margin-top: 10px;
    }

    .header-left {
        margin-left: 10px;
    }

    .header-right a {
        font-size: 16px;
    }
    /* Akhir Odilla */

    /* Pujo */
    .profil-ind {
        width: 50%;
        margin-bottom: 50px;
    }
    /* Akhir Pujo */
}

/* Untuk Smartphones */
@media all and (max-width: 670px) {
    .top-wrapper {
        text-align: left;
    }

    .top-wrapper h1 {
        font-size: 24px;
        line-height: 36px;
    }

    .top-wrapper p {
        font-size: 14px;
        line-height: 20px;
    }

    .teks {
        margin-top: 225px;
    }
    /* Odilla */
    .logo {
        width: 150px;
        margin-top: 20px;
    }

    .header-left {
        margin-left: 5px;
    }
    
    .header-right {
        float: left;
        margin-left: 10px;
    }

    .header-right a {
        font-size: 12px;
        width: 90px;
        text-align: center;
        padding: 10px auto;
    }
    /* Akhir Odilla */

    /* Pujo */
    .profil-ind {
        width: 100%;
    }
  
    footer {
        width: auto;
        text-align: center;
    }
  
    .footer-right {
        display: none;
    }
  
    .footer-left {
        float: none;
        margin: 10px auto;
        padding: 10px;
    }
    /* Akhir Pujo */

    /* Reza */
    .materi-list {
        width: 100%;
    }

    video {
        width: 300px;
        text-align: center;
    }

    /* Akhir Reza */
}
/* Akhir Responsive gabungan */