
* {
    box-sizing: border-box;
  }
  
  html, body,
  ul, ol, li,
  h1, h2, h3, h4, h5, h6, p, div {
    margin: 0;
    padding: 0;
    font-family: "Segoe UI"
  }
  
  html {
    overflow-y: scroll;
    scroll-behavior: smooth !important;
  }
/*CSS Header oleh Odilla, finishing oleh Pujo */
header {
    height: 65px;
    width: 100% !important;
    background-color: rgba(34, 49, 52, 0.9);
    position: fixed;
    top: 0;
    z-index: 10;
  }
  
  .logo {
    width: 228px;
    margin-top: 12px;
  }
  
  .header-left {
    float: left;
    margin-left: -25px;
  }
  
  .header-right {
    float: right;
    margin-right: -25px;
  }
  
  .header-right a {
    line-height: 65px;
    padding: 0 25px;
    color: #dfe6e9;
    display: block;
    float: left;
    transition: all 0.5s;
  }
  
  .header-right a:hover {
    background-color: rgba(255, 255, 255, 0.3);
  }
/*Akhir CSS Header oleh Odilla, finishing oleh Pujo */

/*CSS Top Wrapper oleh Rianda, finishing oleh Pujo */
a {
    text-decoration: none;
    color: #74b9ff;
}

.container {
    max-width: 1170px;
    padding: 0 15px;
    margin: 0 auto;
}

.container-top {
    width: 1170px;
    height: 648px;
    margin-bottom: 50px;
}
  
.top-wrapper {
    margin: 0 auto;
    color: white;
    text-align: center;
}

.teks {
    margin: 250px auto;
}

.top-wrapper h1 {
    opacity: 1;
    font-size: 45px;
    letter-spacing: 5px;
    margin-bottom: 5px;
}

.top-wrapper p {
    opacity: 1;
    padding-bottom: 1px;
}

.slide1, .slide2, .slide3 {
    position: absolute;
    width: 100%;
    height: 100%;
}

.slide1 {
    background: url(https://raw.githubusercontent.com/pujosatrianto/ph17/master/img4.jpg) no-repeat center;
    background-size: cover;
    animation: fade1 13s infinite;
    -webkit-animation: fade1 13s infinite ;
}

.slide2 {
    background: url(https://raw.githubusercontent.com/pujosatrianto/ph17/master/img5.jpg) no-repeat center;
    background-size: cover;
    animation: fade2 13s infinite;
    -webkit-animation: fade2 13s infinite ;
}

.slide3 {
    background: url(https://raw.githubusercontent.com/pujosatrianto/ph17/master/img6.jpg) no-repeat center;
    background-size: cover;
    animation: fade3 13s infinite;
    -webkit-animation: fade3 13s infinite ;
}

@keyframes fade1 {
    0% {opacity: 0;}
    20% {opacity: 1;}
    40% {opacity: 1;}
    60% {opacity: 0;}
    80% {opacity: 0;}
    100% {opacity: 0;}
}

@keyframes fade2 {
    0% {opacity: 0;}
    20% {opacity: 0;}
    40% {opacity: 0;}
    60% {opacity: 1;}
    80% {opacity: 1;}
    100% {opacity: 0;}
}

@keyframes fade3 {
    0% {opacity: 1;}
    20% {opacity: 0;}
    40% {opacity: 0;}
    60% {opacity: 0;}
    80% {opacity: 0;}
    100% {opacity: 1;}
}
/*Akhir CSS Top Wrapper oleh Rianda, finishing oleh Pujo */

/* CSS Profil dan Footer */
.profil-wrapper {
  padding-bottom: 80px;
  margin-left: 5%;
  margin-right: 5%;
  background-color: white;
  text-align: center;
  margin-bottom: 50px;
  height: auto;
}

.heading {
  padding-top: 80px;
  padding-bottom: 50px;
  color: #5f5d60;
}

.heading h2 {
  font-weight: normal;
}

.profil-tim {
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
}

.profil-ind {
  float: left;
  flex: auto;
  width: 25%;
}

.profil-item {
  background-color: white;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.3);
  transition: 0.3s;
  opacity: 1;
  margin-bottom: 50px;
  padding: 10px 10px;
  margin-left: 10px;
  margin-right: 10px;
}

.medsos-icon {
  padding-top: 5px;
  padding-bottom: 5px;
  text-align: center !important;
}

.fa {
  color: #2d3436;
}

.medsos-icon a {
  padding-left: 10px;
  padding-right: 10px;
}

.profil-item:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.3);
  transform: scale(1.5,1.5);
}

.foto-ind {
  position: relative;
}

.foto-ind img {
    border-radius: 50%;
    width: 150px;
}

.foto-ind p {
  position: absolute;
  top: 44%;
  width: 100%;
  color: white;
  text-align: center;
}

.nama-ind {
    height: 30px;
}

.ket-ind {
    margin-top: 5px;
}

.ket-ind p {
    margin-bottom: 3px;
    font-size: 15px;
}

.nama-ind h1 {
    font-size: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
    color: #2d3436;
}

.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 5s;
  animation-name: fade;
  animation-duration: 5s;
}

#profilarea {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 5s;
  animation-name: fade;
  animation-duration: 5s;
}

@-webkit-keyframes fade {
  from { opacity: 0; }
  to { opacity: 1; }
}  

@keyframes fade {
  from { opacity: 0; }
  to { opacity: 1; }
}

footer p {
  color: #b3aeb5;
  font-size: 12px;
}

footer {
  background-color: #2d3436;
  height: 60px;
}

.footer-left {
  float: left;
  padding-left: 35px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.footer-left h3 {
  color: #b3aeb5;
}

.footer-right li {
  font-size: 15px;
  float: right;
  padding-right: 20px;
  list-style: none;
}

.footer-left span {
  color: #74b9ff;
}

footer a {
  text-decoration: none;
  color: #74b9ff;
}

.footer-right {
  float: right;
  padding-right: 10px;
  padding-top: 20px;
  padding-bottom: 15px;
}
/* Akhir CSS Profil & Footer oleh Pujo */

/* CSS Materi & Video Reza */
.materi-wrapper {
  text-align: center;
  border-bottom: 1px solid #eee;
}

.heading h2{
  text-align: center;
}

.materi-DTS {
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
}
.materi-list {
  float: left;
  flex: auto;
  width: 50%;
}
.materi-item {
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  margin-bottom: 50px;
  padding: 10px 10px;
  margin-left: 10px;
  margin-right: 10px;
}

.materi-item:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.materi-icon img {
  border-radius: 50%;
  width: 150px;
}
.nama-materi h1 {
  font-size: 15px;
  padding-top: 5px;
  padding-bottom: 5px;
  color:black;
}
.txt-content{
  width: 80%;
  display: inline-block;
  margin-top: 15px;
  margin-bottom: 15px;
  font-size: 15px;
  color: #b3aeb5;
}

.heading h2{
  width: 100%;
  display: inline-block;
  color: #b3aeb5; 
}
.vidio-wrapper{
  text-align: center;
  border-bottom: 1px solid #eee;
}

/* AKhir CSS Materi & Video Reza */